---
// Layout
import MainLayout from "../../layouts/MainLayout.astro";

// Components
import Hero from "../../components/Hero.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";

const allBlogPosts = await Astro.glob("./*.md");
---

<MainLayout
  title="CEPRODIDE - Blog"
  content="Artículos de interés producidos por el Centro y sus colaboradores"
  style={"main"}
>
  <Hero title="Publicaciones" caption="Blog del centro y sus colaboradores" />
  <section class="post--container" aria-label="Nuevas publicaciones">
    {allBlogPosts.map((post) => <BlogPostCard {post} />)}
  </section>
</MainLayout>

<style>
  .post--container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 1rem 2rem 1rem;
    gap: 1rem;
  }

  @media screen and (min-width: 765px) {
    .post--container {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin: 0 2rem 4rem 2rem;
    }
  }
</style>
