*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

:root {
  /* Colors Light Mode */
  --blue-lm: #0339e1;
  --white: #f4f4f4;
  --grey-lm: #d9d9d9;

  /* Colors Dark Mode */
  --blue-dm: #6c90ff;
  --black: #231f20;
  --grey-dm: #2f2f2f;

  /* Light mode variables */
  --bkg: var(--white);
  --text-color: var(--black);
  --blue: var(--blue-lm);
  --bkg-inverse: var(--black);
  --text-color-inverse: var(--white);
  --grey: var(--grey-lm);
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bkg: var(--black);
    --text-color: var(--white);
    --blue: var(--blue-dm);
    --bkg-inverse: var(--white);
    --text-color-inverse: var(--black);
    --grey: var(--grey-dm);
    color-scheme: dark;
  }
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 1.55;
  background-color: var(--bkg);
  color: var(--text-color);
}

.main {
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
}

.main-blog {
  max-width: 1366px;
  margin: auto;
  min-height: 100vh;
}

/* Font styles */

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--blue);
}

@media screen and (min-width: 765px) and (max-width: 1359px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1360px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 765px) and (max-width: 1359px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1360px) {
  h2 {
    font-size: 1.875rem;
  }
}

h3 {
  color: var(--blue);
}

.h3 {
  color: var(--text-color);
}

.caption {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media screen and (min-width: 765px) and (max-width: 1359px) {
  .caption {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1360px) {
  .caption {
    font-size: 1.5rem;
  }
}

.bold-text {
  font-weight: 700;
}

.small-text {
  font-size: 0.75rem;
}

@media screen and (min-width: 1360px) {
  .small-text {
    font-size: 0.875rem;
  }
}

p {
  font-size: 0.875rem;
}

@media screen and (min-width: 765px) {
  p {
    font-size: 1rem;
  }
}

/* Anchor tags */

a {
  text-decoration: underline;
  color: var(--blue);
}

a:hover {
  color: var(--bkg-inverse);
}

.nav--anchor {
  text-decoration: none;
  color: var(--text-color);
}

.nav--anchor:hover {
  color: var(--blue);
}

/* Lists */

ul {
  list-style-type: square;
  margin-left: 2rem;
}

ul[role="navigation"] {
  list-style-type: none;
  margin-left: 0;
}

/* Miscellaneous */

.line {
  height: 1px;
  background-color: var(--bkg-inverse);
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 765px) {
  .line {
    margin-bottom: 4rem;
    margin-top: 1rem;
  }
}

.description--container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 85%;
  margin: 0 auto;
  padding: 2rem 0;
}

@media screen and (min-width: 765px) and (max-width: 1359px) {
  .description--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 1360px) {
  .description--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 75%;
    gap: 7.5rem;
  }
}
