---
// Layouts
import MainLayout from "../layouts/MainLayout.astro";

// Components
import Hero from "../components/Hero.astro";
import Link from "../components/Link.astro";
import Goals from "../components/Goals.astro";
import BlogReference from "../components/BlogReference.astro";
import ProjectsReference from "../components/ProjectsReference.astro";
---

<MainLayout>
  <Hero
    title="Centro de Proyecto, Diseño y Desarrollo"
    caption="formación - extensión - investigación"
  >
    <Link text="Ver proyectos" href="/proyectos" style="primary" />
  </Hero>
  <section>
    <div class="description--container">
      <p>
        El Centro es un espacio de Investigación con sede en la Facultad de
        Arquitectura, Diseño y Urbanismo (FADU) de la Universidad de Buenos
        Aires (UBA).
      </p>
      <p>
        El Diseño para el Desarrollo, es un campo desarrollado en nuestra
        Facultad, y validado a nivel nacional y regional. Es en el CEPRODIDE,
        donde se asienta un núcleo de reflexión sobre esta temática con impacto
        regional.
      </p>
    </div>
  </section>
  <Goals />
  <ProjectsReference />
  <BlogReference />
</MainLayout>
