---
// Styles
import "../styles/global.css";

// Layout
import MainLayout from "./MainLayout.astro";

// Components
import ProjectPostHeader from "../components/ProjectPostHeader.astro";

// Props
const { frontmatter } = Astro.props;
const { title, author, image, description } = frontmatter;
---

<MainLayout
  title="Investigación - CEPRODIDE"
  content={description}
  style={"main-blog"}
>
  <ProjectPostHeader {title} {author} {image} />
  <div class="project--content-container">
    <div class="project--content">
      <slot />
    </div>
  </div>
</MainLayout>

<style>
  .project--content-container {
    max-width: 80%;
    margin: 3rem auto;
  }

  .project--content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @media screen and (min-width: 760px) {
    .project--content-container {
      margin: 5rem auto;
    }

    .project--content {
      gap: 2.5rem;
    }
  }
</style>
