---
// Layout
import MainLayout from "../../layouts/MainLayout.astro";

// Componentes
import Hero from "../../components/Hero.astro";
import ProjectsCard from "../../components/ProjectsCard.astro";

// Props
const allProjects = await Astro.glob("./*.md");
---

<MainLayout title="CEPRODIDE - Proyectos" style={"main"}>
  <Hero
    title="Proyectos de investigación"
    caption="Trabajos vigentes en desarrollo"
  />
  <section>
    <div class="description--container">
      <p>
        A continuación se encuentran los abstracts de los proyectos de
        investigación que actualmente se están desarrollando en el Centro.
      </p>
      <p>
        Si tienes interés en conocer más sobre la labor del CEPRODIDE o sobre
        las líneas de investigación desarrolladas no dudes en contactarnos.
      </p>
    </div>
  </section>
  <section
    class="abstracts--container"
    aria-label="Abstracts proyectos de investigación vigentes"
  >
    {allProjects.map((project) => <ProjectsCard {project} />)}
  </section>
</MainLayout>

<style>
  .abstracts--container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 3rem 0;
    gap: 2rem;
  }
</style>
